.box {
  border: 1px solid red;
  height: 1300px;
  width: 1500px;
  background-image: url("images/food.jpg");
  /* could add more images ,url("images/sunset.jpeg") */
  background-color: aquamarine; /*if image transparent */
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: repeat;
}
